EXPO_PUBLIC_ORA_API_URL=https://hueiutmfxyusmlhqkynd.supabase.co/functions/v1/ora-api
EXPO_PUBLIC_ORA_AUTH_URL=https://hueiutmfxyusmlhqkynd.supabase.co/functions/v1/ora-auth
EXPO_PUBLIC_ORA_PROFILE_URL=https://hueiutmfxyusmlhqkynd.supabase.co/functions/v1/ora-profile
EXPO_PUBLIC_ORA_PARTY_JOIN_API_ENABLED=true
